/**
 * Le Raclet stylesheet : the carousel
 *
 * Overrides Bootstrap defaults. This should really   
 * be done by modifying LESS source files.
 *
 * Opabinia75, opabinia@opabinia.de
 * v1 07/14
 */

/*------------------------------------------------------------------
 * Override Bootstrap classes
 *----------------------------------------------------------------*/

.glyphicon {
	color: rgb(23,41,130);
}
.in {
	padding: 0;
}
.in > ul > li > a {
	padding: 15px 20px 10px 20px;
	line-height: 1.4;
}
.in > ul > li > a:hover, 
.in > ul > li > a:focus {
	color: white;
	background-color: rgb(23, 41, 130);
	text-decoration: none;
}
.in > ul > li.active > a:hover, 
.in > ul > li.active > a:focus {
	color: inherit;
	background-color: inherit;
	border-left: solid 1px rgb(23, 41, 130);
}
.carousel-indicators {
	top: auto;	
	right: auto;
	left: 50%;
	padding: 13px 10px 10px 10px;
}
.carousel-indicators, 
.carousel-controls {
	bottom: 15px;
}
.carousel-caption {
	top: 10px;
	bottom: auto;
	right: auto;
	left: 0;
	font-weight: bold;
	padding: 0px 15px 0px 15px;
}
.carousel-control.right, 
.carousel-control.left {
	background-image: none;
}
.carousel-caption h2 {
	margin-top: 13px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 5px;
	padding-right: 5px;
}

/*------------------------------------------------------------------
 * Local classes and identifiers
 *----------------------------------------------------------------*/

